body{
background-color: #F7F7F7;

}

.Pricingtable{
margin: 40px auto;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Pricingtable-entete { 
   text-align: center; 
   color:#6e768d;
   font-size: 3em;
   margin-bottom: 20px; 
   letter-spacing: 0.04em;
}

.Pricingtable-subheader { 
   text-align: center; 
   color:#b4bdc6;
   font-size: 1.8em;
   margin-bottom: 20px; 
   letter-spacing: 0.04em;
}
.Pricingtable-section{

list-style: none;
text-align: center; 
padding-left: 2em;
padding-right:2em ;
}
.Pricingtable-section_firsttable{
    vertical-align: middle;
    background-color:#ffffff;
    display:inline-block;
    padding: 0px 30px 40px;
    text-align: center;
    max-width: 320px;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.Pricingtable-activation{

    color:white;
    border: 0;
    background-color:#71ce73;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    letter-spacing: 0.07em;
    transition: all 0.3s ease;
      box-shadow: 0px 3px 0px 0px rgba(102, 172, 100, 1);
           @media screen {
            font-size: 10px;
           }

}